/* iconpart */

.mainiconContainer{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
margin-left: 1rem;
padding-bottom: 1.5rem;
border-bottom: 1.5px solid rgba(112, 112, 112,.15);
width: 100%;
}
.subiconContainer{
width: 11rem;  
height: 13rem; 
display: flex; 
flex-direction: column; 
align-items: center; 
justify-content: center; 
}
.iconContainer{
display: flex;
flex-direction: column;
width: 4rem; 
height: 4rem;
background: #F3FCF7; 
border-radius: 0.5rem; 
margin-left: 1rem;
margin-bottom: 1rem; 
}
.icon{
width: 4rem; 
height: 4rem; 
padding:1rem;
}
.icon_contentContainer_head{
font-size: 1rem;
font-weight: 400;
text-align: center;
}
.icon_contentContainer_para{
font-size: 0.8rem;
text-align: center;
}

/* fruit_pic_bullet part */

.fruit_veg_container{
display: flex;
flex-direction: column;
margin-top: 5rem;

}
.fruit_veg_picContainer{
 background-color: #F3FAFB;
 position: relative;
 height: 25rem;
 margin-left: 3rem;
 margin-right: 3rem;
}
.fruit_veg_picture{    
width: 80%;
position: absolute;
top: -2rem;
left: 50%;
transform: translateX(-50%); 
}
.benefitContainer{
font-weight: 600;
font-size: 1rem;
color: #1D1D1F;
text-align: center;
margin-top: 3rem;
}
.list_heading_container{
margin-top: 1.5rem;
margin-bottom: 3rem;      
font-weight: 600;
font-size: 2.9rem;
text-align: center;
color: #1D1D1F;      
}
.list_container{
margin-left: 2rem; 
padding-bottom: 2rem;   
} 
ul {
padding-left: 2.5rem;
list-style-type: none;
}
    
ul li {
padding-left: 2.5rem;
background-image: url("assets/Icon\ awesome-check.svg");
background-position: 0 0;
background-size: 1.6rem 1.6rem;
background-repeat: no-repeat;
font-size: 1.2rem;
padding-bottom: 1.5rem;
color: #1D1D1F;
}


/* Fruit-juice part */
.fruitjuiceContainer{
display: flex; 
flex-direction: column; 
}
.fruit_juice_pic_container{
position: relative;
background-color: #F3FAFB;
height: 25rem;  
margin-top: 2rem; 
margin-left: 3rem;  
margin-right: 3rem;
}
.fruit_juice_picture{
width: 80%;
position: absolute;
top: -3rem;
left: 50%;
transform: translateX(-50%); 
}
.number_heading_container{
margin-top: 1.5rem;
margin-bottom: 3rem;      
font-weight: 600;
font-size: 3rem;
text-align: center;
color: #1D1D1F;      
}

.mainNumberConatiner{
display: flex;
flex-direction: column;
align-items: center;
}
.numberContentContainer{
display: flex;
flex-direction: column;
margin-bottom: 2rem;
}
.numberContaiener{
font-weight: 600;
font-size: 2.3rem;
color: #06C167;
margin-bottom: 0.8rem;
}
.number_five_Contaiener{
font-weight: 600;
font-size: 2.3rem;
color: #06C167;
margin-bottom: 0.8rem;
margin-left: 1rem;
}
.contentContainer{
font-weight: 400;
font-size: 0.8rem;
color: #1D1D1F;
opacity: 0.65;
}
.second_buttenContainer {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
border: none;
width: 24rem; 
height: 5rem;
background: #57b15f;
font-size: 1.8rem;
font-family: 'Inter';
color: #FFFFFF;
margin-top: 2rem;
margin-bottom: 4rem;
margin-left: 4rem;
}
      
     

@media screen and (min-width: 500px){
  .mainiconContainer{
    width: 75%;
    align-self: center;
    }
 .subiconContainer{
width: 18rem;  
height: 20rem;    
}   
.iconContainer{
width: 6rem; 
height: 6rem;
}
.icon{
width: 6rem; 
height: 6rem; 
padding:2rem;
}
.icon_contentContainer h4{
font-size: 1.5rem;
font-weight: 400;
}
.icon_contentContainer p{
font-size: 1rem;
}
.list_container{
margin-left: 10rem;
align-self: center;
} 
.second_buttenContainer {
width: 30rem;
align-self: center;
margin-left: 10rem;
}
.fruit_veg_picContainer{
  background-color: #F3FAFB;
  position: relative;
  height: 50rem;
 }
 .fruit_juice_pic_container{
  position: relative;
  background-color: #F3FAFB;
   height: 50rem;  
  }

} 










@media screen and (min-width: 768px){

.mainiconContainer{
width: 100%;
}  
.iconContainer{
display: flex;
flex-direction: column;
width: 4rem; 
height: 4rem;
background: #F3FCF7; 
border-radius: 0.5rem; 
margin-left: 1rem;
margin-bottom: 1rem; 
}
.icon_contentContainer{
width: 12rem;
} 
.subiconContainer{
width: 14rem;  
height: 15rem; 
display: flex; 
flex-direction: row;
text-align: start;
}
.icon{
width: 4rem; 
height: 4rem; 
padding:1rem;
}
.icon_contentContainer_head{
text-align: start;
padding-left: 1rem;
font-weight: 500;
font-size: 1rem;
}
.icon_contentContainer_para{
text-align: start;
padding-left: 1rem;
font-size: 0.8rem;
}

/* fruit_veg_part */
.fruit_veg_container{
 display: flex;
flex-direction:row;
justify-content: space-evenly;
margin-bottom: 2rem;
width: 100%;
align-self: center;
 }
.fruit_veg_picContainer{
background-color: #F3FAFB;
position: relative;
height: 30rem;
width: 36%;
max-width: 50rem;
}
.fruit_veg_picture{    
width: 80%;
max-width: 40rem;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
transform: translateX(-50%);  
} 
.bullet_container{
 width: 40%;     
}

.benefitContainer{
font-weight: 600;
font-size: 1rem;
color: #1D1D1F;
margin-top: 3rem;
text-align: start;
margin-left: 5rem;
}
.list_heading_container{
margin-top: 1.5rem;
margin-bottom: 3rem;      
font-weight: 600;
font-size: 2.8rem;
color: #1D1D1F; 
text-align: start;
margin-left: 5rem;     
}
.list_container{
margin-left: 2rem;    
} 
     
/* Fruit-juice part */
.fruitjuiceContainer{
display: flex; 
flex-direction: row-reverse;  
justify-content:space-evenly; 
width: 100%; 
align-self: center;
}
.fruit_juice_pic_container{
background-color: #F3FAFB;
position: relative;
height: 32rem;
width: 34%;
max-width: 50rem;  
}
.fruit_juice_picture{
width: 85%;
max-width: 40rem;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-41%);  
/* height: 28rem; */
}
.veggies_number_container{
width: 50%;
}
.number_heading_container{
width: 80%; 
text-align: start;
margin-left: 5rem; 
}
.mainNumberConatiner{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 80%; 
margin-left: 2.3rem;
}
.second_buttenContainer {
text-align: center;
border: none;
width: 40%; 
height: 5rem;
background: #57b15f;
font-size: 1.5rem;
font-family: 'Inter';
color: #FFFFFF;
margin-top: 2rem;
margin-bottom: 4rem;
margin-left: 5rem;
}

}
@media screen and (min-width: 1200px){
.mainiconContainer{
width: 80%;
}  
.subiconContainer{
width: 17rem;  
height: 18rem; 
}
.icon_contentContainer_head{
font-size: 1.2rem;
}
.icon_contentContainer_para{
font-size: 1rem;
}
.fruit_veg_container{
display: flex;
flex-direction:row;
justify-content: space-evenly;
margin-bottom: 2rem;
width: 80%;
align-self: center;
}
.fruit_veg_picContainer{
background-color: #F3FAFB;
position: relative;
 height: 35rem;  
width: 36%;
max-width: 50rem;

}
.fruit_veg_picture{    
width: 80%;
max-width: 40rem;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%); 
} 

  /* Fruit-juice part */
.fruitjuiceContainer{
width: 80%; 
align-self: center;
}
.fruit_juice_pic_container{
background-color: #F3FAFB;
position: relative;
height: 32rem;
width: 34%;
max-width: 50rem;  
}
.fruit_juice_picture{
width: 80%;
max-width: 40rem;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-35%); 
height: 28rem;

}
.veggies_number_container{
width: 50%;   
}
.number_heading_container{
width: 80%; 
text-align: start;
margin-left: 5rem;      
}
 
.mainNumberConatiner{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 80%;
margin-left: 0; 
}
 .second_buttenContainer {
 text-align: center;
 border: none;
 width: 40%; 
 height: 5rem;
 background: #57b15f;
 font-size: 1.5rem;
 }
}
