.feature_Container{
    font-weight: 600;
    font-size: 1rem;
    color: #1D1D1F;
    margin-top: 3rem;
    text-align: center;
    
    }
    .veggie_container{
          margin-top: 1.5rem;
          margin-bottom: 3rem;      
          font-weight: 600;
          font-size: 2.8rem;
          color: #1D1D1F; 
          text-align: center;
          width: 80%; 
          margin-left: 3rem;  
          }
.main_image_content_container{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
}

.image_content_container{
    display: flex;
    flex-direction:column;
}
.image_container{
    width: 100%; 
}
.fruit_image{
    width: 100%;
}
.secondbuttoncontentContainer{
background: #f3fcf7;
width: 100%;
height: 25rem;
border: 1.5px solid #06C167;
}
.secondbuttoncontentContainer_three{
    background: #f3fcf7;
width: 100%;
height: 25rem;
border: 1.5px solid #06C167;
}
.secondbuttoncontentContainer_four{
    background: #f3fcf7;
    width: 100%;
    height: 25rem;
    border: 1.5px solid #06C167;
}
.mixfruitimage{
   width: 100%;
}
.lemonimage{
    width: 100%;
}
.image_container_three{
    width: 100%;
}
.image_container_four{
    width: 100%;
}
.secondbuttoncontentContainer_head{
font-weight: 500;
font-size: 3rem;
width: 70%;
margin-left: 3rem;
margin-top: 2rem;
}
.secondbuttoncontentContainer_para{
font-size: 1rem;   
width: 50%;
margin-left: 3rem;
margin-top: 2rem;
margin-bottom: 3rem;
}
.third_buttenContainer {
border: none;
background:#e6f9f0 ;
font-size: 1rem;
color: #57b15f;
width: 11rem;
height: 3rem;
margin-left: 3rem;
padding-left: 1rem;
}



/* our product part */
.mainproduct_Container{
  display: flex;  
  flex-direction: column;
}
.ourproductContainer{
    font-weight: 600;
    font-size: 1rem;
    color: #1D1D1F;
    text-align: center;
    margin-top: 3rem;
    }
   
.pic_heading_container{
    margin-top: 1.5rem;
    margin-bottom: 3rem;      
    font-weight: 600;
    font-size: 2.9rem;
    text-align: center;
    color: #1D1D1F; 
    margin-left: 3rem;     
    }
.ourproduct_container{
 display: flex; 
 flex-direction: column; 
 align-items: center; 
 border: 1.5px solid  #e2e0e0;
 padding-top: 2rem;
 padding-bottom: 2rem;
 margin-left: 3rem;
 margin-right: 3rem;
 margin-bottom: 2rem;
}
.ourproduct_container_one{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border: 1.5px solid  #06C167;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
   }
.fruit_picture{
 width: 10rem; 
 height: 10rem;  
}
.starpicture{
 width: 9rem;
 height: 1rem;   
}
.product_content_container{
font-size: 1rem;
padding-top: 2rem;
}

.dollar_container{
 display: flex; 
 justify-content: space-around; 
 padding-top: 2rem; 
}
.ashdollar_container{
color: #767675; 
font-size: 1rem; 
padding-right: 1rem; 
text-decoration-line: line-through; 
}

.greendollar_container{
color: #06C167;
font-size: 1rem;
}
.fourth_buttenContainer{
    border: 1.5px solid #06C167;
    font-size: 1rem;
    color: #57b15f;
    width: 9rem;
    height: 3rem;
    padding-left: 1rem; 
    margin-top: 2rem; 
}

/* Ingredient part */
.ingredient_container{
background: url(assets/Rectangle\ 8_food_background.svg);
background-repeat:no-repeat ;
font-weight: 500;
font-size: 35px;
text-align: center;
color: #FFFFFF;
padding-top: 6rem;
padding-bottom: 5rem;
width: 100%;
}
.ingredient_content_container{
    animation-name: ingredient;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
  
}
@keyframes ingredient {
    from {transform: translate(-50px);}
    to {transform: translate(200px);}
  }
.ingredient_buttenContainer {
    text-align: center;
    border: none;
    width: 27rem; 
    height: 5rem;
    background: #57b15f;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: #FFFFFF;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

/* footer part */

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
}
.foodies_container_head{
    font-weight: 500;
  font-size: 2.5rem;  
  color: #06C167;
  text-align: center;
  margin-bottom: 2rem;
}
.socialmedia_container{
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    }
    .socialmedia_pic{
     height: 1rem; 
       
    }
.footer_container_head{
    font-weight: 500;
    font-size: 1.5rem; 
    text-align: center; 
    padding-bottom: 2rem; 
}
.footer_container a{
    width: 100%;
  font-size: 0.8rem;  
  text-align: center; 
}
.footer_container_para{
    font-size: 0.8rem;  
    text-align: center; 
    width: 15rem;
}
.about_container{
    margin-bottom: 2rem;
    text-decoration: none;
  font-family: 'Inter';
  font-size: 1.2rem;
  line-height: 19px;
  color: #1D1D1F;
  text-align: center;

}

.company_container{
    margin-bottom: 2rem;
}

.get_container_para{
    width: 18rem;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 0.8rem;
    margin-left: 3rem;
}
.mainbuttoncontainer{
    display: flex;
    flex-direction: column;
}
.emailbutton_container{
    text-align: center;
    border: none;
    width: 18rem; 
    height: 4rem;
    background: #F0F1EC;;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: #1D1D1F;
    opacity: 0.51;
    margin-bottom: 1rem;
    margin-left: 3rem;
    
}
.subscribebutton_container{
    text-align: center;
    border: none;
    width: 18rem; 
    height: 4rem;
    background: #57b15f;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: #FFFFFF;
    margin-left: 3rem;
}
.copy{
    font-size: 0.8rem;
    text-align:center ;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
  

@media screen and (min-width: 768px){
    .feature_Container{
        font-weight: 600;
        font-size: 1rem;
        color: #1D1D1F;
        margin-top: 3rem;
        text-align: center;
        margin-left: 5rem;
        }
        .veggie_container{
              margin-top: 1.5rem;
              margin-bottom: 3rem;      
              font-weight: 600;
              font-size: 2.8rem;
              color: #1D1D1F; 
              text-align: center;
              margin-left: 5rem;     
              }
.image_container{
    width: 50%;
  
}
.fruit_image{
    width: 100%;
   
}
.secondbuttoncontentContainer{
width: 50%;
height: 100%;
}
.main_image_content_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    min-width: 70rem;
    align-self:center ;
}

.image_content_container{
    display: flex;
    flex-direction:row;
    width: 50%;
}
.image_content_container_three{
    display: flex;
    flex-direction:row-reverse;
    width: 50%;
}
.image_content_container_four{
    display: flex;
    flex-direction:row-reverse;
    width: 50%;
}
.secondbuttoncontentContainer_three{
    width: 50%;
    height: 100%;
    background: #f3fcf7;
    border: 1.5px solid #06C167;
}
.secondbuttoncontentContainer_four{
    width: 50%;
   height: 100%;
    background: #f3fcf7;
    border: 1.5px solid #06C167;
}
.mixfruitimage{
    width: 100%;
   
}
.lemonimage{
    width: 100%;
  
}
.image_container_three{
width: 50%;

}
.image_container_four{
width: 50%;

}
.secondbuttoncontentContainer_head{
    font-weight: 500;
    font-size: 2.1rem;
    width: 15rem;
    margin-left: 3rem;
    margin-top: 2rem;
    }
    .secondbuttoncontentContainer_para{
    font-size: 1rem;   
    width: 10rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    }
.third_buttenContainer {}


/* product part */
.mainproduct_Container{
    display: flex;  
    flex-direction: row;
    align-self: center;
   margin-bottom: 3rem;
}
.ourproductContainer{
    text-align: start;
    margin-top: 3rem;
    margin-left: 15rem;
  
    }
   
.pic_heading_container{
    margin-top: 1.5rem;
    margin-bottom: 3rem;      
    text-align: start;  
    margin-left: 15rem; 
    }
.ourproduct_container{
   width: 20rem;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   }
   .ourproduct_container_one{
    width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
   }
.fourth_buttenContainer{
    width: 9rem;
    margin-left: 0;
    padding-left: 1rem; 
}

/* ingredient part */
.ingredient_container{
    background: url(assets/Rectangle\ 8_food_background.svg);
    background-repeat:no-repeat ;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 6rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
 width: 75%; 
    min-width: 71rem;
    align-self: center;
    /* margin-left: 3rem;
    margin-right: 3rem;  */

    }
.ingredient_content_container{
    font-size: 3.5rem;
    text-align: center;
    animation-name: ingredient;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: normal;
  
}
@keyframes ingredient {
    from {transform: translate(-200px);}
    to {transform: translate(700px);}
  }

.ingredient_buttenContainer {
    text-align: center;
    border: none;
    width: 15rem; 
    height: 4rem;
    background: #57b15f;
    font-size: 1.2rem;
    font-family: 'Inter';
    color: #FFFFFF;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

/* footer part */
.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
}
.footer_container_head{
    font-weight: 500;
    font-size: 1.5rem; 
    text-align: start; 
    padding-bottom: 2rem; 
}
.footer_container_para{
    font-size: 0.8rem;  
     text-align: start;  
    width: 15rem;
}
.foodies_container_head{
   text-align: start;
}
.foodies_container{
  height: 100%; 
}
.socialmedia_container{
margin-top: 2rem;
margin-bottom: 2rem;
margin-left: 0;
}
.socialmedia_pic{
   margin-right: 3rem;
      
   }
.mainbuttoncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 ;
}
.emailbutton_container{
    width: 11rem; 
    height: 2.5rem; 
    text-align: start; 
    padding-left: 2rem; 
    margin: 2px;
}
.subscribebutton_container{
    font-size: 1rem;
    width: 8rem; 
    height: 2.5rem;
    margin: 2px;
}
.get_container_head{
text-align: start;
}
.get_container_para{
    width: 19rem;
    text-align: start;
   font-size: 0.9rem;
   margin-left: 0;
}
}         

